<!DOCTYPE html>
<html lang="uk">

<head>

   <meta charset="utf-8">
   <title><%= title %></title>
   <meta name="description" content="Програмування веб-додатків">
   <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

</head>

<body>

   <h1>Лікарі</h1>

</body>

</html>