<!DOCTYPE html>
<html lang="uk">

<%- include('../blocks/head.ejs'); %>

<body class="bg-dark text-light text-center">

   <%- include('../blocks/header.ejs'); %>

   <h1 class="mt-4">Пацієнти</h1>

   <%- include('../blocks/scripts.ejs'); %>

</body>

</html>