/* Стилі для кнопок керування даними */
.btn-control {
   cursor: pointer;
}

/* Стилі для кнопок керування даними при наведенні */
.btn-control:hover {
   color: #0d6efd;
   transition: color 0.3s;
}

/* Задання ширини стовпців таблиці за вмістом елементів */
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}