<!-- Модальне вікно -->
<div class="modal fade" id="modal_doctors" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">

      <!-- Заголовок модального вікна -->
      <div class="modal-header border-secondary">
        <div class="d-flex flex-column">
          <span class="fs-3 lh-1" id="doctor_title">#Title</span>
        </div>
        <button type="button" class="btn-close bg-primary" data-bs-dismiss="modal"></button>
      </div>

      <!-- Тіло модального вікна -->
      <div class="modal-body">
        <form>

          <!-- Прізвище, ім’я, по батькові -->
          <span class="fs-5">Прізвище, ім’я, по батькові</span>
          <input class="form-control fs-5 bg-dark text-light border-primary mb-2" id="doctor_name" type="text"
            placeholder="П.І.Б.">

          <div class="row gx-3">
            <div class="col-12 col-sm-2">

              <!-- Вік -->
              <span class="fs-5">Вік</span>
              <input class="form-control fs-5 bg-dark text-light border-primary" id="doctor_age" type="number"
                placeholder="Вік" oninput="set_age(this)">
            </div>

            <div class="col-12 mb-2 d-block d-sm-none"></div>
            <div class="col-12 col-sm-10">

              <!-- Лікарня -->
              <span class="fs-5">Лікарня</span>
              <div class="dropdown">
                <button class="btn btn-outline-primary fs-5 w-100 dropdown-toggle" type="button" id="doctor_hospital"
                  data-bs-toggle="dropdown" aria-expanded="false">Виберіть лікарню</button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="doctor_hospital"
                  id="doctor_hospitals_list">
                  <li><span class="dropdown-item" onclick="set_hospital(this)">. . .</span></li>
                </ul>
              </div>

            </div>
          </div>
        </form>
      </div>

      <!-- Кнопки модального вікна -->
      <div class="modal-footer border-secondary">
        <button class="btn btn-outline-primary" id="doctor_yes" data-bs-dismiss="modal"
          onclick="modal_add_doctors()">#Yes</button>
        <button class="btn btn-outline-secondary" id="doctor_no" data-bs-dismiss="modal">Відміна</button>
      </div>
    </div>
  </div>
</div>